<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/icon-font.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="shortcut icon" type="images/png" href="images/favicon.png">
    <title>Produtos</title>
</head>

<body>
    <nav class="nav-bar">
        <h1>90`S Outlet</h1>
        <div>
            <a href="login" class="btn btn--animated btn--small">Logar</a>
            <a href="/" class="btn btn--animated btn--small">Voltar</a>
        </div>
    </nav>
    <h2 class="our-products"> Nossos produtos:</h2>
    <div class="container">    
        <% prod_list.forEach((prod,index) => { %>
            <div class="card">
                    <a href="viewer?<%= prod.slug %>" id="<%= prod.slug %>">
                        <img src="<%= prod.image %>" alt="<%= prod.nome %>" style="width:100%">
                        <div class="container__card">
                            <h4>
                                <b>
                                    <%= prod.name %>
                                </b>
                            </h4>
                            <p> R$:
                                <%= prod.price %>
                            </p>
                        </div>
                    </a>
                </div>
        <% }); %>                
    </div>
</body>

</html>